# Virtual Environment
Pvenv/

# Python cache
__pycache__/
*.pyc

# Secrets and Credentials
# IMPORTANT: Never commit these files to Git
.env
token.pickle
credentials.json

# Database file
assistant.db
*.sqlite3

# IDE specific folders
.vscode/
.idea/